*, *:before, *:after {
	
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	
}

/* Grid HTML classes */

.row {
	
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	
}

.row .row {
	
	width: auto; 
	max-width: none; 
	min-width: 0; 
	margin: 0 -.625em;
	
}

.column {

	position: relative;
	padding-left: .625em;
	padding-right: .625em;
	width: 100%;
	float: left;
	
}

[class*="column"] + [class*="column"]:last-child { float: right;}

[class*="column"] + [class*="column"].end { float: left;}

@media only screen and (min-width: 768px) {

	.row .one { 
		position: relative;
		width: 6.25%;
	}
	
	.row .two { 
		position: relative;
		width: 12.5%;
	}
	
	.row .three { 
		position: relative;
		width: 18.75%;
	}
	
	.row .four { 
		position: relative;
		width: 25%;
	}
	
	.row .five { 
		position: relative;
		width: 31.25%;
	}
	
	.row .six { 
		position: relative;
		width: 38.5%;
	}
	
	.row .seven { 
		position: relative;
		width: 43.75%;
	}
	
	.row .eight { 
		position: relative;
		width: 50%;
		background-color: red;
	}
	
	.row .nine { 
		position: relative;
		width: 56.25%
	}
	
	.row .ten { 
		position: relative;
		width: 62.5%;
	}
	
	.row .eleven { 
		position: relative;
		width: 68.75%;
	}
	
	.row .twelve { 
		position: relative;
		width: 75%;
	}
	
	.row .thirteen { 
		position: relative;
		width: 81.25%;
	}
	
	.row .fourteen { 
		position: relative;
		width: 87.5%;
	}
	
	.row .fifteen { 
		position: relative;
		width: 93.75%;
	}
	
	.row .sixteen { 
		position: relative;
		width: 100%;
		background-color: purple;
	}

}

@media only screen and (max-width: 767px) {
	
	.row .eight { 
	
		background-color: orange;
	}
		
	.row .sixteen { 
	
		background-color: green;
	}

}